<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="personne">
            <h2><span>Personne</span> {{personne.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{personne.nom}}</span>
                </dd>
                <dt><span>Quiz</span></dt>
                <dd>
                    <div *ngIf="personne.quizId">
                        <a [routerLink]="['/quiz', personne.quizId, 'view']">{{personne.quizId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/personne', personne.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
