<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="quiz">
            <h2><span>Quiz</span> {{quiz.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{quiz.nom}}</span>
                </dd>
                <dt><span>Admin</span></dt>
                <dd>
                    <div *ngIf="quiz.adminId">
                        <a [routerLink]="['/admin', quiz.adminId, 'view']">{{quiz.adminId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/quiz', quiz.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
